.main-page {
  display: grid;
  grid-template-columns: 300px 45% auto;
  padding-top: 45px;
  width: 100%;
  background-color: rgb(244, 244, 244);
  /* min-height: 100vh; */
}

@media screen and (max-width: 990px) {
  .main-page {
    display: grid;
    grid-template-columns: 300px auto;
  }

  .main-page .RSidebar {
    display: none;
  }
}
@media screen and (max-width: 765px) {
  .main-page {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }
}
