.main-page {
  display: grid;
  grid-template-columns: auto 45% auto;
  padding: 45px 0;
  width: 90%;
  min-height: calc(100vh - 55px);
  background-color: rgb(244, 244, 244);
  /* min-height: 100vh; */
  /* overflow-y:hidden;  */
}

@media screen and (max-width: 1185px) {
  .main-page {
    display: grid;
    grid-template-columns: 255px 55% auto;
    padding: 45px 0;
    width: 90%;
    min-height: calc(100vh - 55px);
    background-color: rgb(244, 244, 244);
    /* min-height: 100vh; */
    /* overflow-y:hidden;  */
  }
}

@media screen and (max-width: 1000px) {
  .main-page {
    display: grid;
    grid-template-columns: 250px auto;
    width: 100%;
  }
  .main-page .LSidebar {
    width: 100%;
  }
  .main-page .RSidebar {
    display: none;
  }
}
@media screen and (max-width: 765px) {
  .main-page {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }
}
