.addToFeed__item {
  display: flex;
  min-height: 80px;
  margin-top: 10px;
}
.addToFeed__item .addToFeed__pfp {
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addToFeed__item p {
  margin: 0;
}

.addToFeed__item .profilePhoto {
  height: 48px;
  width: 48px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 12px;
  margin-top: 5px;
  color: grey;
}

.addToFeed__details {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  align-items: flex-start;
  justify-content: center;
}

.addToFeed__details p,
.addToFeed__details button {
  margin-top: 3px;
}

.addToFeed__follow {
  display: flex;
  /* margin-top: 5px; */
  justify-content: center;
  align-items: center;
  width: 97px;
  border-radius: 15px;
  height: 32px;
  outline: none;
  border: 1px solid lightgray;
  font-size: 15px;
  color: rgb(133, 133, 133);
  font-weight: 500;
  background-color: #fff;
  cursor: pointer;
}

.addToFeed__following {
  display: flex;
  /* margin-top: 5px; */
  justify-content: center;
  align-items: center;
  width: 97px;
  border-radius: 15px;
  border: none;
  height: 32px;
  outline: none;
  font-size: 15px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  background-color: #0b549d;
}

.addToFeed__follow:hover {
  background-color: lightgray;
  border: 2px solid rgb(150, 150, 150);
}

.addToFeed__followIcon {
  font-size: 17px;
}

.addToFeed__name {
  font-weight: 600;
  cursor: pointer;
  color: #0a66c2;
}
.addToFeed__name:hover {
  text-decoration: underline;
}

.addToFeed__summary {
  font-size: 12px;
  color: rgb(113, 112, 112);
  text-align: left;
}

.addToFeed__header {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  padding: 0 3px;
}
