.header {
  position: fixed;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  /* padding: 0px 24px; */
  height: 53px !important;
  justify-content: space-between;
  border-bottom: 0.1px solid lightgray;
  width: 100%;
  background-color: #fff;
}

.header__left,
.header__right {
  display: flex;
  align-items: center;
  height: 100%;
}
.header__left {
  padding-left: 24px;
}

.header__left-activeSearch {
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 24px;
  width: 100%;
  height: 100%;
}
.header-signout {
  color: grey;
  font-size: 14px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-right: 20px;
}

.header-signout:hover {
  color: black;
}

.header__profilePhoto {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.header__profilePhoto p {
  font-size: 12px;
  color: rgb(99, 99, 99);
}

.header__profilePhoto p:hover {
  color: rgb(58, 58, 58);
  font-weight: 600;
}

.header__profilePhoto img {
  height: 21px;
  width: 21px;
  border-radius: 50%;
  object-fit: cover;
}
.header .linkedin-icon,
.header__left-activeSearch .linkedin-icon {
  color: #0a66c2;
  font-size: 38px;
  margin-right: 7px;
  border-radius: 5px;
}
.header__search {
  display: flex;
  align-items: center;
  padding: 0 8px;
  height: 34px;
  border-radius: 3px;
  cursor: pointer;
  background-color: rgb(238, 240, 254);
  /* width: 280px; */
}

.header__search.full {
  width: 80%;
  background-color: rgb(238, 240, 254);
  /* margin-left: 60px; */
}

.header__SearchInput,
.header__fullSearchInput {
  padding: 10px;
  outline: none;
  border: none;
  background: none;
}
.header__SearchInput {
  width: 200px;
}

.header__fullSearchInput {
  width: 400px;
}
.header__left > img {
}

.header__right {
  margin-left: 10px;
  justify-content: space-between;
  width: 40%;
  margin-right: 190px;

  border-right: 0.4px solid lightgray;
}

.header__searchIcon {
  font-size: 1.3em;
  font-weight: 800;
}

.header__fullSearchInput {
  display: block;
}

.header__right .notificationsSection {
  position: relative;
}
.notificationsMenu-container {
  min-height: 110px;
  position: absolute;
  top: 28px;
  left: -150px;
  width: 400px;
  background-color: rgb(255, 255, 255);
  /* overflow-x: hidden; */
  border-radius: 10px;

  overflow-y: auto;
  border: 1px solid rgb(195, 195, 195);
}
.notificationsMenu {
  border-radius: 10px;

  max-height: 70vh;
  padding: 10px 0;
  width: 400px;
  max-width: 400px !important;
  background-color: rgb(255, 255, 255);
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */

  overflow-y: auto;
}
.notificationsMenu-empty {
  border-radius: 10px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
  padding: 10px 0;
  width: 400px;
  max-width: 400px !important;
  background-color: rgb(255, 255, 255);
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  /* overflow: hidden; */
  overflow-y: auto;
}
.notificationsMenu-empty p {
  margin: 10px 0 0 0;
  font-weight: 600;
}

.notificationsMenu-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
}

.notificationsMenu-viewAll {
  background-color: #fff;
  outline: none;
  border: 1px solid #0a66c2;
  color: #0a66c2;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 600;
}
.connectionRequestMenu-viewAll {
  background-color: #fff;
  outline: none;
  border: 1px solid #0a66c2;
  color: #0a66c2;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 600;
}

.notificationsMenu-viewAll:hover {
  background-color: #70b4f95a;
}
.connnectionRequestsSection {
  position: relative;
  /* background-color: blue; */
}
.connnectionRequestsMenu-container {
  position: absolute;
  top: 40px;
  right: -175px;
  /* height: 200px; */
  width: 350px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid rgb(195, 195, 195);
}

.connnectionRequestsMenu .title {
  margin: 0;
  border-bottom: 1px solid rgb(195, 195, 195);
  padding: 5px 0;
  color: rgb(99, 99, 99);
  font-size: 14px;
  font-weight: 500;
}
@media screen and (max-width: 1030px) {
  .header__right {
    display: flex;
    width: 100%;
    padding-left: 0px;
    padding-right: 10px;
    justify-content: space-around;
    margin-right: 150px;
    border-right: 0.4px solid lightgray;
  }
  .header__search {
    background-color: #fff;
  }
  .header__SearchInput {
    width: 0px;
  }
}

@media screen and (max-width: 850px) {
  .header__left {
    width: 80px;
    padding-right: 0px;
    justify-content: space-between;
    padding-left: 15px;
  }
  .header__right {
    display: flex;
    width: 100%;
    padding-left: 0px;
    padding-right: 10px;
    justify-content: space-around;
    margin-right: 130px;
    border-right: 0.4px solid lightgray;
  }
  .header__profilePhoto p,
  .header__SearchInput {
    display: none;
  }

  .header__search {
    /* background: none; */
    padding-right: 0px;
  }
  .header__profilePhoto img {
    height: 25px;
    width: 25px;
  }

  .header-signout p {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .header__right {
    margin-right: 0;
  }
  .header-signout {
    padding-right: 0;
  }
  .header-signout p {
    display: none;
  }

  .header-signout svg {
    font-size: 30px;
  }
}
