.addToFeed {
  position: sticky;

  top: 100px;
  /* top: 90px; */
  padding: 0 7px 10px 7px;
  min-width: 240px;
  max-width: 300px;
  background-color: #fff;
  border: 1px solid lightgray;
  border-radius: 10px;
}
