.feedPost {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  /* min-height: 150px; */
  border: 1px solid lightgray;
  border-radius: 10px;
  background-color: #fff;
  margin-top: 10px;
}

.feedPost__header {
  position: relative;
}
.feedPost__headerLoading,
.feedPost__header {
  height: 50px;
  display: flex;
}

.feedPost__header p {
  margin: 0;
}

.feedPost__header img {
  height: 48px;
  width: 48px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 12px;
}

.feedPost__userDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.feedPost__userDetails-name {
  font-size: 13px;
  font-weight: 600;
  color: black;
}

.feedPost__userDetails-userSummary,
.feedPost__userDetails-postTime {
  font-size: 11px;
  color: gray;
  font-weight: light;
}

.feedPost__userDetails-postTime {
  display: flex;
  align-items: center;
}
.postTime-dot {
  font-size: 22px;
  margin-left: -5px;
}
.postTime-globe {
  margin-left: -5px !important;
}

.feedPost__body {
  position: relative;
}
.feedPost__body-text {
  min-height: 20px;
  position: relative;
  margin-top: 10px;
}

.feedPost__body-text-content {
  font-size: 14px;
  text-align: left;
  line-height: 18px;
  max-height: 54px;
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow: hidden;
}

.postPage .feedPost__engagements {
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
}
.feedPost__body-text-contentFull {
  font-size: 14px;
  text-align: left;
  line-height: 18px;
}

.feedPost__engagements {
  /* background-color: rgb(244, 142, 142); */
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.feedPost__likes {
  color: rgb(241, 241, 247);
  background-color: rgb(105, 105, 211);
  border-radius: 10px;
  font-size: 14px;
}

.feedPost__body-seeMore {
  /* margin: 0; */
  position: absolute;
  right: 0;
  bottom: -30px;
  font-size: 14px;
  color: rgb(111, 111, 111);
  cursor: pointer;
}

.feedPost__actions {
  margin-top: 10px;
  border-top: 1px solid lightgray;
  align-items: center;
  display: flex;
  height: 44px;
  padding: 4px;
  justify-content: left;
}

.feedPost__actions,
.feedPost__action {
  display: flex;
  align-items: center;
}

.feedPost__action-liked,
.feedPost__action {
  /* justify-content: space-evenly; */
  height: 90%;
  border-radius: 5px;
  min-width: 100px;
  outline: none;
  border: none;
  background-color: #fff;
  cursor: pointer;
  color: rgb(81, 81, 81);
}

.feedPost__action:hover {
  background-color: rgb(234, 234, 234);
}

.feedPost__action:hover {
}

.feedPost__action-icon {
  font-size: 2em;
  margin-right: 5px;
}

.feedPost__action-liked {
  display: flex;
  align-items: center;
}
.feedPost__action-liked,
.feedPost__liked {
  color: rgb(52, 52, 197);
}

.feedPost__liked {
  font-size: 2em;
}
.feedPost__action-liked {
  background-color: rgb(212, 212, 245);
}
.feedPost__action-liked p {
  font-weight: bold;
}

.feedPost__body-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

.feedPost__body-media img {
  width: 100%;
  height: 100%;
}

.postContent {
  /* background-color: red; */
  margin-top: 10px;
}

.LSidebar__greeting a {
  text-decoration: none;
  color: black;
}

.feedPost__engagements-likes {
  display: flex;
  justify-content: space-between;
}

.feedPost__engagements-summary {
  margin: 0;
  font-size: 12px;
  margin-left: 3px;
  color: #0a66c2;
  font-weight: bold;
}

.postCommentsAmount {
  color: #6f6f6f;
  margin: 0;
  font-size: 12px;
}
.headerOptions-button,
.feedPost__headerOptions {
  position: absolute;
  cursor: pointer;
}

.headerOptions-button {
  top: 0px;
  right: 0px;
  font-size: 1.5em;
  color: rgb(77, 77, 77);
  padding: 3px;
  cursor: pointer;
}

.feedPost__headerOptions {
  background-color: #fff;
  border: 1px solid lightgray;
  border-radius: 5px;
  list-style-type: none;
  width: 210px;
  right: 0;
  top: 5px;
  text-align: center;
  padding: 5px 0;
}

.feedPost__headerOptions li {
  /* width: 100%; */
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 4px 15px;
  font-weight: 600;
  color: rgb(77, 77, 77);
}
.feedPost__headerOptions li:hover {
  background-color: lightgray;
}

.feedPost__headerOptions li p {
  margin-left: 10px;
}
.headerOptions-button:active,
.headerOptions-button:hover {
  background: lightgray;
  border-radius: 50%;
}

.feedPost__body-media .control-arrow .control-next::before {
  color: #0a66c2;
}

.feedPost__media-summary {
  margin-bottom: -10px;
  color: #0a66c2;
}

.feedPost__userDetails a {
  text-decoration: none;
}

/* REACTIONS SECTION */

.feedPost-postReactions {
  /* background-color: rgb(171, 114, 114); */
  background-color: #fff;

  /* border-bottom: 1px solid lightgray; */
  padding: 15px 2px;
}

.reactions-container {
  display: flex;
}
