.notification-item{
    height:90px;
    display: flex;
    align-items: center;
    
}

.oldNotification:hover{
    background-color:lightgray;
}

.oldNotification {
    /* background-color:rgb(210, 80, 80); */
    cursor: pointer;
    position:relative;
    height:70px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-bottom:1px solid lightgray;
    /* margin-left: 60px; */
}

.newNotification{
    background-color:rgb(158, 192, 222);
    position:relative;
    height:90px;
    display: flex;
    align-items: center;
    
}

.newNotification p,
.oldNotification p{
    margin-left:10px;

}


.notificationSummary{
    font-size: 14px;
}


.notificationSummary a{
    text-decoration: none;
    color: black;

}
.notificationSummary a:hover{
    color:#0a66c2;
}

.notification-profilePhoto{
    height:60px;
    width:60px;
    border-radius: 50%;
    object-fit: cover;
}