.notification-item {
  height: 90px;
  display: flex;
  align-items: center;
}

.notificationsMenu .oldNotification,
.notificationsMenu .newNotification {
  cursor: pointer;
  position: relative;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid lightgray;
  /* margin-left: 60px; */
}

.oldNotification {
  /* background-color: rgb(210, 80, 80); */
}
.newNotification:hover,
.oldNotification:hover {
  background-color: lightgray;
}

.newNotification {
  background-color: #70b4f95a;
  position: relative;
  height: 90px;
  display: flex;
  align-items: center;
}

.notificationsMenu .newNotification-tag,
.newNotification-tag {
  height: 10px;
  width: 10px;
  background-color: #0a66c2;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  top: 45px;
}
.newNotification p,
.oldNotification p {
  margin-left: 10px;
}

.notificationSummary {
  font-size: 14px;
}

.notificationSummary a {
  text-decoration: none;
  color: black;
}
.notificationSummary a:hover {
  color: #0a66c2;
}

.notification-profilePhoto {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
}
