.app {
  text-align: center;
  margin: 0;
  padding: 0;
  position: relative;
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(244, 244, 244);

}

a {
  cursor: pointer;
}

button {
  outline: none;
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}
